@font-face {
  font-family: "Aescudos";
    src: URL('../fonts/Aescudos.ttf') format('truetype');
}
.row {
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

body{
	background-image: url("../images/background.jpg");
}
.first-header{
	color:#fff;
	background-color: #ff8013;
	font:"Montserrat Alternates";
	margin: 0px;
	padding: 1px;
	font-size: 20px;
}
#second-nav{
	background-color: #fff;
	border: 0px;
}
#brand {
    width:70% !important;
    height:70% !important;
}

#header-elements {
	background-color: #fff;
	font-family: "Montserrat Alternates";
    margin: 0px;
    font-size: 20px;
    color:#ff8013 !important;
}
#astro-header{
    color: #ff8013;
    font-size: 80px;
    font-family: "Aescudos";
    text-align: center;
}
#first-para-after-header{
	text-align: justify;
	color: #fff;
}
#second-para-after-header{
	font:"Montserrat Alternates";
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-size: 40px;
}
.text-center{
	text-align: center;
}
.thumb-effects{
	text-align: center;
	font-weight: bold;
	color: #ff8013;
}
#para-form{
	text-align: justify;
}
form{
	font:"Montserrat Alternates";
}
.form-control{
	border-radius: 0 !important;
}
#bottom-container{
   background-image: url("../images/galaxy_background.jpg");	
   font-family: "Montserrat Alternates";
   text-align: center;
}
#brown-container{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(80, 40, 00, .4);
	color: #fff;
	
}
#bottom-header{
    font-size: 75px;
    font-family: "Aescudos";
}

#bottom-subheader{
	margin-top: 30px;
    font-size: 55px;
}
#brown-container p{
	text-align: justify;
}
#brown-container a{
	border-radius: 0;
	text-decoration: none;
}
.btn-warning{
	background-color: #ff8013 !important;
}
#expert-row{
	margin-top: 10px;
}
.circle{
	height: 100px;
	width: 95px;
	display: inline-block;
	border-radius: 50% !important;
	border: solid #ff8013;
}
#left-margin{
	margin-left: 20px;
}
#left-margin1{
	margin-left: 40px;
}
#left-margin2{
	margin-left: 60px;
}
#left-margin3{
	margin-left: 75px;
}
#expert-para{
	font-weight: bold;
	color:#fff;
}
#in-ex-para{
	font-weight: normal;
	color:#ff8013 !important;
}
#expert-para a{
	font-weight: normal;
	color:#fff !important;
}
#contact-div{
	margin-top: 10px;
	background: rgba(80, 40, 00, .85);
	color:#fff;
	font-family: "Montserrat Alternates";
}
#contact-div ul{
	list-style-type: none; 
}
.align{
	text-align: center;
}
.bottom-social-icons{
	color:#fff !important;
}
